<div class="blog-masthead">
    <div class="container">
        <a class="nav-link alinhar-esq brand" href="#/"><img src="../../img/ico-logo.PNG" alt="Logo Matheus Pessoa"></a>
        <nav class="nav blog-nav alinhar-dir">
            <a class="nav-link" ng-class="active('/home')" href="#/">Home</a>
            <a class="nav-link" ng-class="active('/sobre')" href="#sobre">Sobre</a>
            <a class="nav-link" ng-class="active('/portfolio')" href="#portfolio">Portfólio</a>
            <a class="nav-link" ng-class="active('/contato')" href="#contato">Contato</a>
        </nav>
    </div>
</div>
