<header>
    <nav class="{{active}}" class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-fw animated tada"></i></a>
            <a href="#" class="home" ng-click="active='home'"><i class="fa fa-home fa-fw"></i> Home</a>
            <a href="#sobre" class="about" ng-click="active='sobre'"><i class="fa fa-info-circle fa-fw"></i> Sobre</a>
            <a href="#portfolio" class="portfolio" ng-click="active='portfolio'"><i class="fa fa-code fa-fw"></i> Portfólio</a>
            <a href="#contato" class="contato" ng-click="active='contact'"><i class="fa fa-envelope fa-fw"></i> Contato</a>
        </div>
    </nav>
</header>
